$mainColor: rgb(60,0,120);
$alt1Color: rgb(97,6,5);
$alt2Color: rgb(120,72,6);
$alt3Color: rgb(5,55,97);
$alt4Color: rgb(0,120,46);

$linkColor: lighten( $alt1Color, 20% );

@mixin box {
	position: relative;
	overflow: hidden;
}

@mixin pagesize {
	max-width: 900px;
	border-left: 30px solid transparent;
	border-right: 30px solid transparent;
	margin: auto;
}

body {
	font: normal 12pt/1.5 "Fira Sans", sans-serif;
	background: lighten($mainColor,74%);
	color: darken($mainColor,10%);
}

body, p, h1, h2, h3, h4, h5, h6, form, table, ul, ol, li, blockquote {
	margin: 0;
	padding: 0;
}

#wrapper {
	> header {
		@include box;
		background: $mainColor;
		color: white;

		.inner {
			@include pagesize;

			a {
				color: white;
				text-decoration: none;
			}
		}

		.nav {
			@include box;
			background: desaturate( lighten( $mainColor, 50% ), 70% );
			padding: 0.3em 0;

			nav {
				@include pagesize;
				line-height: 2em;

				a {
					color: $linkColor;
					text-decoration: none;
					white-space: nowrap;
					font-variant: small-caps;

					&:not(:last-child) {
						margin-right: 1em;
					}
				}
			}
		}
	}

	> footer {
		@include box;

		.inner {
			@include pagesize;
		}

		text-align: center;
		font-size: 71%;
		margin: 2em 0;

		a + a {
			margin-left: 1em;
			display: inline-block;
		}
	}

	> article {
		@include pagesize;
		margin-bottom: 4em;
	}
}

h1 {
	font: normal 300%/1.3 "Archivo Black", sans-serif;
	margin: 1em 0 0.2em 0;
}

h2 {
	font: normal 200%/1.3 "Archivo Black", sans-serif;
	margin: 1.5em 0 0.2em 0;
}

h3 {
	font: normal 160%/1.3 "Archivo Black", sans-serif;
	margin: 1.5em 0 0.2em 0;
}

h4 {
	font: normal 130%/1.3 "Archivo Black", sans-serif;
	margin: 1.5em 0 0.2em 0;
}

h5 {
	font: normal 100%/1.3 "Archivo Black", sans-serif;
	margin: 1em 0 0.2em 0;
}

p, ul, ol {
	hyphens: auto;
}

p, pre, ul, ol {
	margin: 1em 0;
}

pre {
	background: white;
	padding: 0.5em;
	max-width: 100%;
	overflow: auto;
}

pre, code {
	font-family: "Fira Code", monospace;
}

*:not(pre) > code {
	background: white;
	padding: 0 0.5em;
}

blockquote {
	border-left: 5px solid $mainColor;
	background: lighten($mainColor, 70%);
	padding: 1em;

	> p {
		margin: 0.5em 0;
	}

	> p:first-child:last-child {
		margin: 0;
	}

	li > & {
		margin: 1em 0;
	}
}

li {
	padding-left: 1em;
	margin-left: 2em;
}

a {
	text-decoration: underline;
	color: $linkColor;

	footer & {
		text-decoration: none;
	}
}
