<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link href="https://fonts.googleapis.com/css?family=Archivo+Black|Dosis" rel="stylesheet">
	<link href="https://code.cdn.mozilla.net/fonts/fira.css" rel="stylesheet">
	<link href="/assets/style.css" rel="stylesheet">
	<title>hitchyjs</title>
</head>
<body>
<div id="wrapper">
	<header>
		<div class="inner">
			<h1><a href="/pages/">HitchyJS</a></h1>
		</div>
		<div class="nav">
			<nav>
				<!-- MENU -->
			</nav>
		</div>
	</header>
	<article>
		<%= contents %>
	</article>
	<footer>
		<div class="inner">
			<label>&copy; 2017</label> <a href="http://cepharum.de/">cepharum GmbH</a>
			<a href="license.html">License</a>
		</div>
	</footer>
</div>
</body>
</html>
