<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link href="https://fonts.googleapis.com/css?family=Archivo+Black|Dosis" rel="stylesheet">
	<link href="assets/style.css" rel="stylesheet">
	<title>hitchyjs</title>
</head>
<body>
<div id="wrapper">
	<header>
		<div class="inner">
			<h1>HitchyJS</h1>
		</div>
	</header>
	<article>
		<%= contents %>
	</article>
	<footer>
		<div class="inner">
			&copy; 2017 <a href="http://cepharum.de/">cepharum GmbH</a>
		</div>
	</footer>
</div>
</body>
</html>
